{% include "includes/base.html" %}


<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
  <img src="/static/images/banners/1.jpg" class="img-fluid rounded">
</div>

</div> 
</section>

<section class="section-content padding-y-sm">
<div class="container">
<article class="card card-body">


<div class="row">
  <div class="col-md-4">  
    <figure class="item-feature">
      <span class="text-primary"><i class="fa fa-2x fa-truck"></i></span>
      <figcaption class="pt-3">
        <h5 class="title">Vendas Rápidas</h5>
        <p>Nossas vendas temos como prioridade uma entrega rápida e segura para bom aproveito do produto </p>
      </figcaption>
    </figure> 
  </div>
  <div class="col-md-4">
    <figure  class="item-feature">
      <span class="text-primary"><i class="fa fa-2x fa-landmark"></i></span>  
      <figcaption class="pt-3">
        <h5 class="title">Estratégia Criativa</h5>
        <p>Produzimos o que tem de diferencial no nosso segmento, feito com qualidade e agilidade
         </p>
      </figcaption>
    </figure>
  </div>
    <div class="col-md-4">
    <figure  class="item-feature">
      <span class="text-primary"><i class="fa fa-2x fa-lock"></i></span>
      <figcaption class="pt-3">
        <h5 class="title">Segurança em comprar </h5>
        <p>Aqui você encontra toda segurança em realizar sua compra com qualidade
         </p>
      </figcaption>
    </figure> 
  </div> 
</div>
</article>

</div> 
</section>

<section class="section-content">
<div class="container">

<header class="section-heading">
  <h3 class="section-title">Produtos populares</h3>
</header>

  
<div class="row">
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="/static/images/items/1.png"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">CAFÉ UTAM CREMA EM GRÃOS 1 KG
        </a>
        
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted"> 30 avaliações</span>
        </div>
        <div class="price mt-1">R$47,50</div> 
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="/static/images/items/14.png"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">CAFÉ SOLÚVEL UTAM 500G
        </a>
        
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted"> 32 avaliações</span>
        </div>
        <div class="price mt-1">R$59,90</div> 
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="/static/images/items/5.png"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">UTAM UNO ESPRESSO ORGÂNICO 10 CÁPSULAS 
        </a>
        
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted"> 28 avaliações</span>
        </div>
        <div class="price mt-1">R$20,90</div> 
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="/static/images/items/17.png"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">CAFÉ UTAM VP 250G </a>
        
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted"> 34 reviws</span>
        </div>
        <div class="price mt-1">$179.00</div> 
      </figcaption>
    </div>
  </div> 
</div> 

</div> 
</section>

<section class="section-content">
<div class="container">

<header class="section-heading">
  <h3 class="section-title">Novidades</h3>
</header>

<div class="row">
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="/static/images/items/10.png"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">Cápsula de Cappuccino Classic TRES 3 Corações </a>
        
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted"> 32 avaliações</span>
        </div>
        <div class="price mt-1">R$18,98</div>
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="/static/images/items/9.png"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">Café Solúvel Pilão Vidro        </a>
        
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted"> 33 avaliações</span>
        </div>
        <div class="price mt-1">R$19,90</div> 
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="/static/images/items/13.png"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">Café Torrado e Moído Cerrado Mineiro Rituais 3 Corações</a>
        
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted"> 31 avaliações</span>
        </div>
        <div class="price mt-1">R$21,99</div> 
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="/static/images/items/7.png"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">Kit 240 Cápsulas Café Pilão Intenso 8</a>
        
        <div class="rating-wrap">
          <ul class="rating-stars">
            <li style="width:80%" class="stars-active"> 
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </li>
            <li>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> 
            </li>
          </ul>
          <span class="label-rating text-muted"> 38 avaliações</span>
        </div>
        <div class="price mt-1">R$499.90</div> 
      </figcaption>
    </div>
  </div> 
</div> 

</div> 
</section>

<section class="section-content padding-bottom-sm">
<div class="container">

<header class="section-heading">
 
  <h3 class="section-title">Recomendados</h3>
</header>

<div class="row">
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="/static/images/items/15.png"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">Café Solúvel Pilão Cafeteria 70g</a>
        <div class="price mt-1">R$14,02</div> 
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="/static/images/items/18.png"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">Café Solúvel Em Pó América 510g</a>
        <div class="price mt-1">R$53,13</div> 
      </figcaption>
    </div>
  </div> 
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="/static/images/items/21.png"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">Café Torrado e Moído Cerrado Mineiro Rituais 3 Corações Pacote 250g</a>
        <div class="price mt-1">R$21,99</div> 
      </figcaption>
    </div>
  </div>
  <div class="col-md-3">
    <div href="#" class="card card-product-grid">
      <a href="#" class="img-wrap"> <img src="/static/images/items/19.png"> </a>
      <figcaption class="info-wrap">
        <a href="#" class="title">Café Biagini 500GR</a>
        <div class="price mt-1">R$17,80</div> 
      </figcaption>
    </div>
  </div> 
</div> 

</div> 
</section>


<!--  
<section class="section-name bg padding-y-sm">
<div class="container">
<header class="section-heading">
  <h3 class="section-title">Our Brands</h3>
</header>

<div class="row">
  <div class="col-md-2 col-6">
    <figure class="box item-logo">
      <a href="#"><img src="/static/images/logos/logo1.png"></a>
      <figcaption class="border-top pt-2">36 Products</figcaption>
    </figure> 
  </div> 
  <div class="col-md-2  col-6">
    <figure class="box item-logo">
      <a href="#"><img src="/static/images/logos/logo2.png"></a>
      <figcaption class="border-top pt-2">980 Products</figcaption>
    </figure> 
  </div> 
  <div class="col-md-2  col-6">
    <figure class="box item-logo">
      <a href="#"><img src="/static/images/logos/logo3.png"></a>
      <figcaption class="border-top pt-2">25 Products</figcaption>
    </figure> 
  </div> 
  <div class="col-md-2  col-6">
    <figure class="box item-logo">
      <a href="#"><img src="/static/images/logos/logo4.png"></a>
      <figcaption class="border-top pt-2">72 Products</figcaption>
    </figure> 
  </div> 
  <div class="col-md-2  col-6">
    <figure class="box item-logo">
      <a href="#"><img src="/static/images/logos/logo5.png"></a>
      <figcaption class="border-top pt-2">41 Products</figcaption>
    </figure> 
  </div> 
  <div class="col-md-2  col-6">
    <figure class="box item-logo">
      <a href="#"><img src="/static/images/logos/logo2.png"></a>
      <figcaption class="border-top pt-2">12 Products</figcaption>
    </figure> 
  </div> 
</div> 
</div>
</section> -->
<!-- ========================= SECTION  END// ========================= -->



<!--  
<section class="section-name padding-y">
<div class="container">

<h3 class="mb-3">Download app demo text</h3>

<a href="#"><img src="/static/images/misc/appstore.png" height="40"></a>
<a href="#"><img src="/static/images/misc/appstore.png" height="40"></a>

</div>
</section>
 -->




<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg">
  <div class="container">
    <section class="footer-top  padding-y">
      <div class="row">
        <aside class="col-md col-6">
          <h6 class="title">Marcas</h6>
          <ul class="list-unstyled">
            <li> <a href="#">Utan</a></li>
            <li> <a href="#">Santa Alcina</a></li>
            <li> <a href="#">Pilão</a></li>
            <li> <a href="#">Santa Clara</a></li>
            <li> <a href="#">Três Corações</a></li>
          </ul>
        </aside>
        <aside class="col-md col-6">
          <h6 class="title">Empresas</h6>
          <ul class="list-unstyled">
            <li> <a href="#">Quem Somos</a></li>
            <li> <a href="#">Trabalhe conosco</a></li>
            <li> <a href="#">Políticas de Privacidade</a></li>
            <li> <a href="#">Troca e devoluções</a></li>
            
          </ul>
        </aside>
        <aside class="col-md col-6">
          <h6 class="title">Ajuda</h6>
          <ul class="list-unstyled">
            <li> <a href="#">Contato</a></li>
            <li> <a href="#">Como Comprar</a></li>
            <li> <a href="#">Formas de Pagamentos</a></li>
            <li> <a href="#">Politicas de entrega</a></li>
            
          </ul>
        </aside>
        <aside class="col-md col-6">
          <h6 class="title">Conta</h6>
          <ul class="list-unstyled">
            <li> <a href="#"> Login </a></li>
            <li> <a href="#"> Cadastra-se </a></li>
            <li> <a href="#"> Configurações da Conta </a></li>
          </ul>
        </aside>
        <aside class="col-md">
          <h6 class="title">Redes Sociais</h6>
          <ul class="list-unstyled">
            <li><a href="#"> <i class="fab fa-facebook"></i> Facebook </a></li>
            <li><a href="#"> <i class="fab fa-twitter"></i> Twitter </a></li>
            <li><a href="#"> <i class="fab fa-instagram"></i> Instagram </a></li>
            <li><a href="#"> <i class="fab fa-youtube"></i> Youtube </a></li>
          </ul>
        </aside>
      </div> 
    </section>  

    <section class="footer-bottom row">
      <div class="col-md-2">
        <p class="text-muted"> 2022 Matro Dentro Gourmert </p>
      </div>
      <div class="col-md-8 text-md-center">
        <span  class="px-2">contato@matrodentrogoumert.com.br</span>
        <span  class="px-2">(35) 9 9999-9999</span>
        <span  class="px-2">Fazenda Mato Dentro</span>
      </div>
      <div class="col-md-2 text-md-right text-muted">
        <i class="fab fa-lg fa-cc-visa"></i>
        <i class="fab fa-lg fa-cc-paypal"></i>
        <i class="fab fa-lg fa-cc-mastercard"></i>
      </div>
    </section>
  </div>
</footer>


</body>
</html>